.about-container {
    @include portfolioitemspacing;
    @include flexcenterabsolute;
    @include desktop {
        width: 70vw;
        border-radius: 15px;
    }
}

.about {
    @include flexcenterabsolute;
    @include desktop {
        border: 1px solid white;
        border-radius: 15px;
        width: 650px;
        height: 400px;
    }
}