.about-container {
    @include portfolioitemspacing;
    @include whiteborder;
    section {
        @include flexcolumn;
        margin-left: 3vw;
        margin-right: 3vw;
        margin-top: 3vh;
    }
    h1 {
        font-size: 2vw;
        text-decoration: underline;
        margin-bottom: 5vh;
    }
    element {
        font-size: 20px;
        margin-left: 1vw;
        margin-right: 1vw;
    }
}
.skills-container {
    @include flexrow;
    flex-wrap: wrap;
    justify-content: space-evenly;
}