.about-container {
    @include portfolioitemspacing;
    @include flexcenterabsolute;
    @include desktop {
        width: 70vw;
        border-radius: 15px;
    }
}

.about {
    @include flexcenterabsolute;
    @include flexcolumn;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
    @include desktop {
        width: 600px;
        height: 400px;
        h1 {
            font-size: 30px;
            margin-bottom: 10px;
            font-weight: bolder;
        }
        p {
            width: 500px;
            line-height: 30px;
            font-size: 17px;
        }
    }
    @include mobile {
        width: 300px;
        h1 {
            margin-top: 10px;
            font-size: 20px;
            margin-bottom: 10px;
            font-weight: bolder;
        }
        p {
            width: 250px;
            line-height: 25px;
            margin-bottom: 10px;
        }
    }
}