.contact-container {
    @include portfolioitemspacing;
    @include whiteborder;
    @include flexcolumn;
    @include flexcenterabsolute;
    justify-content: space-evenly;
    margin-bottom: 15vh;
    // animation-name: fadein;
    // animation-duration: 1s;
    img:hover {
        cursor: pointer;
    }
    div {
        @include flexrow;
        @include flexcenterabsolute;
        justify-content: space-evenly;
    }
    h1 {
        font-weight: bold;
        @include mobile {
            font-size: 3vh;
        } 
        @include desktop {
            font-size: 4vh;
        }
    }
    a {
        @include mobile {
            font-size: 2.3vh;
        }
        @include desktop {
            font-size: 2.7vh;
        }
    }
    a:hover {
        text-decoration: underline;
    }
}
.hide-icon {
    display: none;
}
.unhide-icon {
    animation-name: welcometext;
    animation-duration: 1s;
    margin-right: 1.5vh;
    margin-left: 1.5vh;
}
.gmailwrapper {
    @include mobile {
        width: 8.5vh;
        height: 8.5vh;
    }
    @include desktop {
        width: 9.5vh;
        height: 9.5vh;
    }
}
.gmailicon {
    transition: all 0.2s ease-in-out;
    transition-property: width height;
    @include mobile {
        width: 8vh;
        height: 8vh;
    }
    @include desktop {
        width: 9vh;
        height: 9vh;
    }
}
.gmailicon:hover {
    @include mobile {
        width: 8.5vh;
        height: 8.5vh;
    }
    @include desktop {
        width: 9.5vh;
        height: 9.5vh;
    }
}
.githubwrapper {
    @include mobile {
        width: 10.5vh;
        height: 10.5vh;
    }
    @include desktop {
        width: 12.5vh;
        height: 12.5vh;
    }
}
.githubicon {
    transition: all 0.2s ease-in-out;
    transition-property: width height;
    @include mobile {
        width: 10vh;
        height: 10vh;
    }
    @include desktop {
        width: 12vh;
        height: 12vh;
    }
}
.githubicon:hover {
    @include mobile {
        width: 10.5vh;
        height: 10.5vh;
    }
    @include desktop {
        width: 12.5vh;
        height: 12.5vh;
    }
}
.linkedinwrapper {
    @include mobile {
        width: 7.5vh;
        height: 7.5vh;
    }
    @include desktop {
        width: 8.5vh;
        height: 8.5vh;
    }
}
.linkedinIcon {
    transition: all 0.2s ease-in-out;
    transition-property: width height;
    @include mobile {
        width: 7vh;
        height: 7vh;
    }
    @include desktop {
        width: 8vh;
        height: 8vh;
    }
}
.linkedinIcon:hover {
    @include mobile {
        width: 7.5vh;
        height: 7.5vh;
    }
    @include desktop {
        width: 8.5vh;
        height: 8.5vh;
    }
}