.contact-container {
    @include portfolioitemspacing;
    @include whiteborder;
    @include flexcolumn;
    @include flexcenterabsolute;
    justify-content: space-evenly;
    margin-bottom: 15vh;
    img:hover {
        cursor: pointer;
    }
    div {
        @include flexrow;
        @include flexcenterabsolute;
        justify-content: space-evenly;
    }
    h1 {
        font-weight: bold;
        font-size: 3vh;
    }
    a {
        font-size: 2.3vh;
    }
    a:hover {
        text-decoration: underline;
    }
}
.hide-icon {
    display: none;
}
.unhide-icon {
    animation-name: welcometext;
    animation-duration: 1s;
    margin-right: 1.5vh;
    margin-left: 1.5vh;
}
.gmailicon {
    width: 8vh;
    height: 8vh;
}
.githubicon {
    width: 10vh;
    height: 10vh;
}
.linkedinIcon {
    width: 7vh;
    height: 7vh;
}