@keyframes aboutbox {
    0% {margin-top: 200px}
    50% {margin-top: 0px}
    100% {margin-top: 50px}
}
@keyframes sidenavbar {
    0% {margin-right: -200px;}
}
@keyframes welcometext {
    0% {opacity: 0;}
}
@keyframes imagerotate {
    0% { transform: rotate(360deg); }
}
@keyframes fadeout {
    50% { opacity: 0;}
}