.license-container {
    background-color: rgb(226,225,166);
    width: 375px;
    height: 235px;
    display: flex;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
  
    h1 {
      font-family: sans-serif;
    }
  }
  .learner-symbol {
    width: 45px;
    height: 45px;
  }