.portfolio-items {
    @include flexcolumn;
    @include whiteborder;

    // margin-left: 1.5vw;
    @include desktop {
        width: 70vw;
        margin-left: 35px;
    }
    @include mobile {
        width: 100vw;
        @include flexcentervertical
    }
}