.contact-box-container {
    @include flexrow;
    @include flexcenterabsolute;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-self: center;
    border: 4px solid white;
    border-radius: 5px;
    width: 20vw;
    height: 10vh;
    animation-name: aboutbox;
    animation-duration: 1s;
    margin-top: 50px;
  
    a {
      text-decoration: none;
      color: white;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5vw;
      font-weight: bold;
    }
    
    a:visited {
      text-decoration: none;
      color: white
    }
    
  }
  