.sidenavbar-container {
    @include desktop {
        @include flexcolumn;
        @include flexcentervertical;
        @include whiteborder;
        border: 2px solid white;
        border-radius: 10px;
        justify-content: space-between;
        position: fixed;
        top: 12.5vh;
        right: 4vw;
        width: 16vw;
        padding: 25px 25px 25px 25px;
        font-family: 'Montserrat', sans-serif;
        animation-name: sidenavbar;
        animation-duration: 1s;

        p:hover {
            cursor: pointer;
        }
    }
    @include mobile {
        display: none;
    }
}

.profile-image {
    background-image: url('/images/Me.png');
    background-position: top center;
    background-size: 13.5vw 19vw;
    border: 3px solid white;
    border-radius: 1000px;
    height: 12.5vw;
    width: 12.5vw;
}
.profile-image:hover {
    cursor: pointer;
}

.image-rotate {
    animation-name: imagerotate;
    animation-duration: 1s;
}
.fade-out {
    animation-name: fadeout;
    animation-duration: 1s;
}
.background-zoom {
    animation-name: zoomin;
    animation-duration: 1s;
}
.saturate {
    animation-name: saturate;
    animation-duration: 1s;
}
.invert {
    animation-name: invert;
    animation-duration: 1s;
}
.blur {
    animation-name: blur;
    animation-duration: 1s;
}
.huerotate {
    animation-name: huerotate;
    animation-duration: 1s;
}
.skew {
    animation-name: skew;
    animation-duration: 1s;
}
.spiral {
    animation-name: spiral;
    animation-duration: 1s;
}

.name-title {
    @include flexcolumn;
    @include flexcentervertical;
    justify-content: space-between;
    margin: 2vh 0 2vh 0;
    h1 {
        font-size: 2vw;
    }
    p {
        font-size: 1.2vw;
        margin-top: 1vh;
    }
    hr {
        width: 12.5vw;
    }
}

.site-navigation {
    h1 {
        font-size: 1.5vw
    }
}

.linkcontainer {
    height: 1.5vw;
}

.navigation-options {
    ul {
        @include flexcolumn;
        @include flexcentervertical;
        justify-content: space-evenly;
        height: 25vh;
    }
    .navLink {
        font-size: 1.3vw;
    }
    .navLink:hover {
        text-decoration: underline;
        font-size: 1.5vw;
        cursor: pointer;
    }
}