$woodcolor: rgb(51, 36, 5);
$woodcolor2: rgb(74, 53, 10);
$max-width: 900px;
$websitebackground : black;
$websitetext: white;
$portfolioitemheight: 70vw;

@mixin flexcolumn {
    display: flex;
    flex-direction: column;
}
  
@mixin flexrow {
    display: flex;
    flex-direction: row;
}

@mixin flexcentervertical {
    display: flex;
    align-items: center;
}
@mixin flexcenterhorizontal {
    display: flex;
    justify-content: center;
}

@mixin flexcenterabsolute {
    display: flex;
    justify-content: center;
    align-items: center
}

@mixin whiteborder {
    // border: 3px solid white;
    // border-radius: 10px;
}

@mixin portfolioitemspacing {
    @include desktop {
        margin-top: 15vh;
        height: 70vh;
    }
    @include mobile {
        margin-top: 30vh;
        height: 70vh;
    }
};

@mixin mobile {
    @media (max-width: $max-width) {
        @content
    }
};

@mixin desktop {
    @media (min-width: $max-width) {
        @content
    }
}
