.welcome-container {
    user-select: none;
    outline: none;
    @include whiteborder;
    @include flexcenterabsolute;
    @include flexcolumn;
    @include portfolioitemspacing;
    text-align: center;
    h1 {
        margin-bottom: 4vh;
    }
    h1:focus {
        outline: none;
    }
    p:first-of-type {
        animation-name: welcometext;
        animation-duration: 2s;
        animation-delay: 2s;
        animation-fill-mode: backwards;
    }
    p:nth-of-type(2) {
        opacity: 0.6;
        margin-top: 2.5vh;
        animation-name: welcometext;
        animation-duration: 2s;
        animation-delay: 4s;
        animation-fill-mode: backwards;
    }

    .welcomeInitialAnimate {
        animation-name: welcometext;
        animation-duration: 2s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
        opacity: 1;
    }

    .welcomeAnimate {
        animation-name: welcomeMessageSwitch;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-fill-mode: backwards;
    }

    @include desktop {
        h1 {
            font-size: 13vh;
        }
        p:first-of-type {
            font-size: 5vh;
        }
        p:nth-of-type(2) {
            font-size: 3vh;
        }
    }
    @include mobile {
        h1 {
            font-size: 10vw;
        }
        p:first-of-type {
            font-size: 5vw;
        }
    }
}