@import './variables';
@import './resets';
@import './keyframes';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
  scroll-behavior: smooth;
}

.App {
  width: 100vw;
  overflow-y: visible;
  display: flex;
  color: white
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $websitebackground;
  font-family: 'Montserrat', sans-serif;
}
.placeholder {
  color: $websitetext;
  font-size: 10vw;
  overflow-wrap: normal;
}

.placeholder-container {
  @include flexcolumn;
}

@import './pre-contactbox';
@import './portfolioitems';
@import './sidenavbar';
@import './topnavbar';
@import './welcome';
@import './about';
// @import './jobs';
@import './projects';
@import './projectsmodal';
@import './contact';