@import './resets';
@import './variables';
@import './keyframes';

html {
  scroll-behavior: smooth;
}

.App {
  width: 100vw;
  overflow-y: visible;
  display: flex;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
.placeholder {
  color: white;
  font-size: 10vw;
  overflow-wrap: normal;
}

.placeholder-container {
  @include flexcolumn;
}

button {
  color: white
}

@import './pre-contactbox';
@import './portfolioitems';
@import './sidenavbar';
@import './welcome';
@import './about';
@import './jobs';
@import './projects';
@import './contact';