@import './resets';
@import './variables';
@import './keyframes';

.App {
  width: 100vw;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.placeholder {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
  overflow-wrap: normal;
}

.placeholder-container {
  @include flexcolumn;
}

@import './table';
@import './license';
@import './pre-contactbox';
@import './sidenavbar';