html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}

.placeholder {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 10vw;
}

.flexcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 71px;
  z-index: -1;
  position: absolute;
}

.table-base-container {
  width: 70vw;
  height: 57vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#332405), to(#4a350a));
  background-image: linear-gradient(#332405, #4a350a);
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.triangle-spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 53vh 140px 0 0;
  border-color: black transparent transparent transparent;
}

.triangle2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 140px 53vh 0;
  border-color: transparent black transparent transparent;
}

.table-line {
  width: 70vw;
  height: 4px;
  background-color: black;
}

.table-legs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.table-leg {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a350a), to(#332405));
  background-image: linear-gradient(#4a350a, #332405);
  width: 22px;
  height: 240px;
}

#leg1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4a350a), to(#332405));
  background-image: linear-gradient(#4a350a, #332405);
}

.license-container {
  background-color: #e2e1a6;
  width: 375px;
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.license-container h1 {
  font-family: sans-serif;
}

.learner-symbol {
  width: 45px;
  height: 45px;
}

.contact-box-container {
  border: 4px solid white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 20vw;
  height: 10vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.contact-box-container a {
  text-decoration: none;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.contact-box-container a:visited {
  text-decoration: none;
  color: white;
}
/*# sourceMappingURL=App.css.map */